

<div class="container">

  <div class="sixteen columns">
    <div class="group-title main-title">
      <h1><img src="/assets/ca_logo_60.png">Code Academy</h1>
	 </div>

    <%= render 'teams/filters' %>

    <p>
    <%= form_tag users_path, :method => 'get' do %>

        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>

    <% end %>
</p>
    <hr />
  </div><!-- end sixteen columns -->
       <%#= @filter %>
       <ul class="card">
         <%= render @users %>
      </ul>

</div><!-- container -->
<!-- if not /mentor then-->
    <%= will_paginate @users %>
    <%#= will_paginate @users, :params => {:anchor => "anchor" } %>
<!-- end -->
































